[submodule "third-party/unity"]
	path = third-party/unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "third-party/avr-libstdcpp"]
	path = third-party/avr-libstdcpp
	url = https://github.com/modm-io/avr-libstdcpp.git
